html, body {
  height: 100%;
}
.main-container{
  min-height: 87.9%;
}
@-moz-document url-prefix() {
    .main-container{
      min-height: 87.8%;
    }
}
#comment-field {
  display: none;
}
.img-space{
  margin-top: 20px;
}
video{
  border-radius: 5px;
  box-shadow: 0 0 10px;
}
audio{
  width: 400px;
  border-radius: 5px;
  box-shadow: 0 0 10px;
}
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

img.star
{
    -webkit-animation-name:             rotate;
    -webkit-animation-duration:         1s;
    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function: linear;
}

.form-submit{
  padding-top: 10px;
}
.form-edit-blog .span12.form-submit .btn-success,
.admin-user-edit .span12.form-submit .btn-danger,
.admin-user-edit .span12.form-submit .btn-success {
  width: 97.3%;
}
.span12.form-submit .btn-warning,
.span12.form-submit .btn-success,
.form-submit .btn-warning,
.form-submit .btn-success {
  width: 100%;
}
.blogs li{
  list-style: none;
  border-bottom: 1px solid #ccc;
}
.blogs .blog-title {
  float: left;
}
.blogs .blog-posted-at {
  font-size: 12px;
  color: gray;
  padding-top: 15px;
  float: right;
}
.blogs .blog-body {
  clear: both;
}
.submission-info {
  font-size: 12px;
  color: grey;
  float: left;
  clear: both;
}
.actions {
  float: right;
}
.field-body {
  clear: both;
}
.actions > span {
  display: inline-block;
}
.comments-form {
  border: 1px dashed #ccc;
  padding: 5px;
  margin-bottom: 10px;
}
.comments-form #cke_1_contents{
  height: 95px !important;
}
.comments-holder .comments {
  list-style: none;
}
.comments-holder .comments li {
  border-bottom: 1px solid #ccc;
}
.footer {
  background: #1b1b1b;
  width: 100%;
  color: #999999;
  height: 100px;
  margin-top: 20px;
}
.footer .rights{
  padding: 38px 0px 0px;
}
.blog-post .field-image img {
  width: 100px;
  height: 100px;
}
.navbar .container {
  width: 55%;
}
.blog-view textarea.comment-body {
  width: 98.5%;
  resize: none;
}
.blog-post .field-blog-image {
  margin-bottom: 10px;
}
.blog-post .field-blog-image img{
  height: 10%;
  width: 10%;
}
.recent-blog {
  background-color: #ddd;
  width: 28%;
  padding: 10px;
  border-radius: 5px;
}
